@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*для проверки соответствия по макету*/
img[alt=mockup] {
    opacity: 0.5;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.uppercase-text {
    text-transform: uppercase;
}
header, section, footer {
    display: flex;
    flex-direction: column;
}
header, footer {
    align-items: center;
}
header {
    color: white;
    background-size: cover;
}
.header-text {
    font-family: "OpenSansBold";
    position: relative;
    margin-left: 20px;
    margin-right: 40px;
    width: 81.25%;
    display: flex;
    flex-direction: column;
}

.header-text > span:last-child {
    margin-left: 44px;
    margin-top: 30px;
}
header svg g, footer svg g {
    stroke: white;
}
header svg .surface-text {
    stroke: none;
}
.surface-logo-without-text path:first-child {
    border: 1px solid #4524a5;
}
.surface-logo-with-text {
    margin-left: auto;
    margin-right: auto;
    /*width: 41.25%;*/
}
.store-buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
}
.store-buttons > button {
    color: white;
    background-color: #5e42b0;
    /*width: calc(100% - 40px);*/
    height: 35px;
    border-radius: 18px;
    border: none;
    display: flex;
}
.android-download-button {
    margin-top: 14px;
}
.apple-download-button > svg {
    width: 22px;
    height: 24px;
    margin: auto 9px auto 74px;
}
.android-download-button > svg {
    width: 22px;
    height: 24px;
    margin: auto 8px auto 74px;
}
.apple-download-button > div, .android-download-button > div {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.apple-download-button > div > span:first-child {
    letter-spacing: 0.5px;
}
.apple-download-button > div > span:last-child {
    letter-spacing: 0.4px;
}
.android-download-button > div > span:first-child {
    letter-spacing: 0;
}
.android-download-button > div > span:last-child {
    letter-spacing: 0.7px;
}
.apple-download-button .apple-logo, .android-download-button .android-logo {
    fill: white;
}
.apple-download-button > span:first-child, .android-download-button > span:first-child {
    font-family: "OpenSansRegular";
}
.apple-download-button > span:last-child, .android-download-button > span:last-child {
    font-family: "OpenSansBold";
}
.download-app-title {
    color: white;
    margin-bottom: 0;
    font-family: "OpenSansBold";
}
.slogan {
    color: #9b8ec1;
    margin: 0;
    font-family: "OpenSansRegular";
}
img {
    width: 100%;
}
@media (max-width: 640px) {
    body {
        min-width: 320px;
        /*max-width: 640px;*/
    }
    header {
        background-image: url("../images/header-background_320.png");
        -webkit-background-size: cover;
        background-size: cover;
    }
    .store-buttons {
        width: calc(100% - 40px);
        margin-bottom: 84px;
    }
    .header-text {
        font-size: 28px;
        margin-top: 173px;
    }
    .surface-logo-with-text {
        width: 41.25%;
        margin-top: 33px;
    }
    .apple-download-button, .android-download-button {
        font-size: 8px;
    }

    footer {
        background-image: url("../images/download_app_320.png");
        -webkit-background-size: cover;
        background-size: cover;
    }
    .surface-logo-without-text {
        width: 72px;
        height: 74px;
        padding: 12px 6px;
        background: linear-gradient(to top, #50379a,#7756d5);
        border-radius: 25%;
        box-sizing: border-box;
        margin-top: 99px;
    }
    .download-app-title {
        font-size: 32px;
        margin-top: 59px;
    }
    .slogan {
        font-size: 14px;
    }
    footer .store-buttons {
        margin-top: 76px;
    }
    footer .surface-logo-with-text {
        margin-bottom: 6px;
        margin-top: 86px;
        top: 0;
    }
}
@media (min-width: 641px) and (max-width: 960px) {
    header {
        background-image: url("../images/header-background_768.png");
    }
}
@media (min-width: 961px) and (max-width: 1900px) {
    header {
        background-image: url("../images/header-background_1920.png");
    }
}