@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
body {
    margin: 0;
    padding: 0;
    font-family: "OpenSansRegular"
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.uppercase-text {
    text-transform: uppercase;
}
header, section, footer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
header, footer {
    align-items: center;
    -webkit-background-size: cover;
    background-size: cover;
}
header {
    color: white;
    background-size: cover;
}
.header-text {
    font-family: "OpenSansBold";
    position: relative;
    display: flex;
    flex-direction: column;
}

.surface-logo-without-text path:first-child {
    border: 1px solid #4524a5;
}
.surface-logo-with-text {
    margin-left: auto;
    margin-right: auto;
}
.store-buttons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.store-buttons > button {
    color: white;
    background-color: #5e42b0;
    border: none;
    display: flex;
}

.apple-download-button > .button-content, .android-download-button > .button-content {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
    width: 50%;
    margin: auto;
}
.store-buttons > button > .button-content > svg {
    margin: auto 0 auto auto;
}
.android-download-button > .button-content > svg,
.android-download-button > .button-content > span {
    position: relative;
    left: -10px;
}
.store-buttons > button > .button-content > span {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 10px;
}
.apple-download-button > .button-content > span > span:first-child {
    letter-spacing: 0.5px;
    font-family: "OpenSansRegular";
}
.apple-download-button > .button-content > span > span:last-child {
    letter-spacing: 0.4px;
    font-family: "OpenSansBold";
}
.android-download-button > .button-content > span > span:first-child {
    letter-spacing: 0;
    font-family: "OpenSansRegular";
}
.android-download-button > .button-content > span > span:last-child {
    letter-spacing: 0.7px;
    font-family: "OpenSansBold";
}
.apple-download-button .apple-logo, .android-download-button .android-logo {
    fill: white;
}

.download-app-title {
    color: white;
    margin-bottom: 0;
    font-family: "OpenSansBold";
}
.slogan {
    color: #9b8ec1;
    margin: 0;
    font-family: "OpenSansRegular";
}
.surface-logo-without-text {
    background: linear-gradient(to top, #50379a,#7756d5);
    border-radius: 25%;
    box-sizing: border-box;
}
section > h2 {
        color: #e7e7e7;
        font-family: "OpenSansBold";
}
.connection-block > h3, .collaboration-block > h3, .growth-block > h3 {
    color: #c1c1c1;
    font-family: "OpenSansBold";
}
.be-active > .rectangle > span::after, .find-contact > .rectangle > span::after,
   .work-it > .rectangle > span::after{
       background-color: #8f7bc8;
   }
.be-active > .rectangle >  span,
   .find-contact > .rectangle >  span,
   .work-it > .rectangle >  span{
       margin: auto;
       color: white;
       font-family: "OpenSansBold";
   }
.connection-block {
    background-color: #fafafa;
}
.collaboration-block {
    background-color: #f5f4f9;
}
.athletes .growth-block {
    background-color: #5e42b0;
    color: white;
}
.athletes .growth-block .third-option::after {
    background-color: white;
}
.players .growth-block {
    background-color: #090c35;
    color: white;

}
.players .growth-block .third-option {
    color: #8765dd;
}
.players .growth-block .third-option::after {
    background-color: white;
}
.be-active > .rectangle, .find-contact > .rectangle, .work-it > .rectangle {
    background: #5e42b0;
    display: flex;
    position: relative;
}
.first-option, .second-option, .third-option {
    color: black;
    position: relative;
    top: -8px;
}
.first-option::after, .second-option::after, .third-option::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #5e42b0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -3px;
    left: 0;
}
picture > img {
    width: 100%;
}
button:hover, button:focus {
    cursor: pointer;
    background-color: #7e62d0;
}
@media all and (max-width: 640px) {
    body {
        min-width: 320px;
    }
    header {
        background-image: url("../images/header-background_320.png");
    }

     .header-text {
         font-size: 28px;
         line-height: 1;
         padding: 0 20px;
         margin: 173px auto 0 auto;
         width: 60%;
         min-width: 300px;
    }
    .header-text > span:last-child {
        margin-left: 44px;
        margin-top: 31px;
    }
    .surface-logo-with-text {
        width: 41.25%;
        margin-top: 33px;
    }
    .apple-download-button, .android-download-button {
        font-size: 8px;
    }
    img {
        width: 100%;
    }
    footer {
        background-image: url("../images/footer_background_320.png");
    }
    .store-buttons > button > .button-content > svg {
        width: 24px;
        height: 22px;
    }
    .surface-logo-without-text {
        width: 72px;
        height: 74px;
        padding: 12px 6px;
        margin-top: 99px;
    }
    .download-app-title {
        font-size: 32px;
        margin-top: 59px;
        line-height: 1;
        letter-spacing: 0.5px;
    }
    .slogan {
        font-size: 14px;
        margin: 14px 0 0 0;
    }
    .store-buttons {
        width: calc(100% - 40px);
        padding-bottom: 84px;
        margin-top: 90px;
        flex-direction: column;
    }
    .store-buttons > button {
        height: 35px;
        border-radius: 18px;
    }
    .android-download-button {
        margin-top: 14px;
    }
    footer .store-buttons {
        margin-top: 77px;
    }
    footer .surface-logo-with-text {
        margin-bottom: 6px;
        margin-top: 86px;
    }

    .athletes-title, .players-title {
        font-size: 50px;
        margin: 24px 0 0 0;
        padding-left: 20px;
        line-height: 1;
    }
    .athletes picture {
        position: absolute;
        top: 92px;
        left: calc(50% - 96px);
    }
    .players picture {
        position: absolute;
        top: 95px;
        left: calc(50% - 151px);
    }
    .connection-block {
        margin-top: 244px;
    }
    .be-active-title, .work-it-title, .find-contact-title {
        font-size: 28px;
        padding-left: 20px;
        line-height: 1;
    }

    .connection-block > h3, .collaboration-block > h3, .growth-block > h3 {
        font-size: 28px;
        padding-left: 20px;
        line-height: 1;
        letter-spacing: 0.5px;
        padding-bottom: 27px;
        margin: 0;
    }
    .connection-block > h3 {
        padding-top: 80px;
    }
    .athletes .collaboration-block > h3, .growth-block > h3 {
        padding-top: 57px;
    }
    .first-option, .second-option, .third-option {
       font-size: 14px;

    }
   .first-option::after, .second-option::after, .third-option::after {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -3px;
        left: 0;
    }
   .be-active > .rectangle, .find-contact > .rectangle, .work-it > .rectangle {
       width: 70px;
       height: 70px;
       margin-left: 20px;
       margin-top: -58px;
   }
      section p {
       padding-left: 20px;
       padding-right: 20px;
   }
   .athletes p, .players p {
       font-size: 15px;
       letter-spacing: 1px;
       margin: 0;
   }
   .be-active p, .find-contact p, .work-it p {
       margin: 0;
       padding-top: 24px;
       font-size: 16px;
   }
   .be-active p {
       padding-bottom: 77px;
   }
   .find-contact p {
       padding-bottom: 78px;
   }
   .work-it p {
       padding-bottom: 57px;
   }
   .connection-text {
       padding-bottom: 51px;
   }
   .collaboration-text {
       padding-bottom: 55px;
   }
   .athletes .growth-text {
       padding-bottom: 36px;
   }
   .players .collaboration-text {
       padding-bottom: 51px;
   }
   .players .collaboration-block > h3 {
       padding-top: 57px;
   }
   .players .growth-block > h3 {
       padding-top: 54px;
   }
   .players .growth-text {
       padding-bottom: 52px;
   }
   .be-active-title {
       margin: 21px 0 0 0;
   }
   .find-contact-title, .work-it-title {
       margin: 25px 0 0 0;
   }
   button:active, button:focus {
       border: none;
       outline: none;
   }
}
@media all and (min-width: 641px) and (max-width: 960px) {
    header {
        background-image: url("../images/header-background_768.png");
    }
    footer {
        background-image: url("../images/footer_background_768.png");
    }
    .surface-logo-with-text {
        width: 26.7%;
        height: 56px;
        margin-top: 40px;
    }
    .header-text {
        font-size: 64px;
        line-height: 1;
        margin-top: 181px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        max-width: 650px;
    }

    .header-text > span:last-child {
        margin-left: 100px;
        margin-top: 31px;
        display: flex;
        flex-direction: column;
    }
    .header-text > span:last-child > span:last-child {
        margin-top: 30px;
    }
    header .store-buttons {
        margin-top: 312px;
        margin-bottom: 91px;
    }
    .store-buttons {
        width: 85%;
        flex-flow: row nowrap;
        height: 77px;
    }
     .store-buttons > button  {
         width: 50%;
         height: 100%;
         border-radius: 38.5px;
     }
     .store-buttons > .android-download-button {
        margin-left: 31px;
        margin-top: 0;
     }
     .store-buttons > button > .button-content {
         width: 90%;
     }
    .store-buttons > button:first-child > .button-content > svg {
        width: 36px;
        height: 41px;
    }
    .store-buttons > button:last-child > .button-content > svg {
        width: 41px;
        height: 45px;
    }
    section > h2, .download-app-title {
        font-size: 80px;
        line-height: 60px;
    }
    .athletes-title {
        margin-top: 86px;
        margin-left: 292px;
        margin-bottom: 0;
    }
    .athletes > div {
        padding-left: 292px;
        padding-right: 30px;
    }
    .athletes > picture {
        position: absolute;
        margin-top: 94px;
        left: -162px;
    }

    .connection-block {
        background: none;
    }
    .connection-block > h3, .collaboration-block > h3, .growth-block > h3 {
        font-size: 32px;
        letter-spacing: 0.5px;
        margin: 0;
        line-height: 1;
    }
    .connection-block > h3 {
        padding-top: 62px;
        padding-bottom: 33px;
    }
    .connection-block p {
        padding-bottom: 51px;
    }
    .collaboration-block > h3 {
        padding-top: 42px;
        padding-bottom: 32px;
    }
    .collaboration-text {
        padding-bottom: 30px;
    }
    .athletes .first-option, .athletes .second-option, .athletes .third-option,
    .players .first-option, .players .second-option, .players .third-option{
        font-size: 18px;
    }
    .athletes > div > p {
        margin: 0;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    .athletes .growth-block {
        margin: 0;
    }
    .athletes .growth-block > h3 {
        padding-top: 42px;
        padding-bottom: 32px;
    }
    .athletes .growth-block > p {
        padding-bottom: 83px;
    }
    .players > .players-title {
        margin-top: 83px;
        margin-bottom: 0;
    }
    .players > picture {
        position: absolute;
        top: 45px;
        right: -255px;
        flex-shrink: 0;
        min-width: 690px;
        max-width: 690px;
    }
    .players > h2, .players > div {
        padding-left: 32px;
    }
    .players .connection-block > h3, .players .collaboration-block > h3 {
        margin: 0;
    }
    .players .connection-text, .players .collaboration-text {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    .players .connection-text {
        padding-bottom: 44px;
    }
    .players .collaboration-text {
        padding-bottom: 64px;
    }
    .players .connection-text, .players .collaboration-text {
        margin: 0;
        width: 65%;
        min-width: 385px;
    }
    .players .growth-text {
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 48px;
        margin: 0;
        letter-spacing: 0.5px;
    }
    .players .growth-block > h3 {
        padding-top: 55px;
        padding-bottom: 32px;
    }
    .players p {
        margin-bottom: 0;
    }
    .growth-block > h3 {
        margin: 0;
    }
    .be-active .first-option, .find-contact .second-option, .work-it .third-option {
        font-size: 24px;
        line-height: 35px;
    }
    .rectangle {
        width: 116px;
        height: 116px;
        margin-left: 33px;
        margin-top: -80px;
    }
    .be-active > h2, .be-active > p, .find-contact > h2, .find-contact > p, .work-it > h2, .work-it > p {
        padding-left: 33px;
    }
    .be-active > p, .find-contact > p, .work-it > p {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.5px;
        padding-right: 33px;
        margin: 0;

    }

    .be-active > p
    {
        padding-bottom: 97px;
    }
    .be-active > h2, .find-contact > h2, .work-it > h2 {
        padding-top: 55px;
        padding-bottom: 38px;
        margin: 0;
    }
    .find-contact > p {
        padding-bottom: 99px;
    }
    .work-it > p {
        padding-bottom: 101px;
    }
    footer > svg:first-child {
        width: 130px;
        height: 137px;
        padding: 15px;
        margin-top: 126px;
    }
    .download-app-title {
        margin-top: 83px;
        letter-spacing: 1px;
    }
    .slogan {
        color: #a496ca;
        font-size: 36px;
        margin-top: 28px;
    }
    footer > .store-buttons {
        margin-top: 288px;
        margin-bottom: 0;
    }
    footer > svg:last-child {
        margin-top: 55px;
        margin-bottom: 24px;
    }
}
@media all and (min-width: 641px) and (max-width: 750px) {
    .players > picture {
        left: 295px;
        right: 0;
    }
}
@media all and (min-width: 961px) and (max-width: 1920px) {
    header {
        background-image: url("../images/header-background_1920.png");
    }
    footer {
        background-image: url("../images/footer_background_1920.png");
    }
    header > .surface-logo-with-text {
        width: 191px;
        height: 52px;
        margin-top: 45px;
    }
    .header-text {
        font-size: 90px;
        line-height: 1;
        margin-top: 295px;
        width: 100%;
        max-width: 1600px;
        min-width: 900px;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-text > span:last-child {
        margin-top: 26px;
        margin-left: 451px;
    }
    .store-buttons {
        margin-top: 222px;
        width: 35%;
        min-width: 672px;
        flex-flow: row nowrap;
        margin-bottom: 110px;
        height: 77px;
    }
    .store-buttons > button {
        width: 50%;
        height: 100%;
        border-radius: 38.5px;
        font-size: 14px;
    }
    .store-buttons > button > .button-content {
        width: 100%;
    }
    .apple-download-button .button-content > svg {
        width: 42px;
        height: 48px;
    }
    .android-download-button {
        margin-left: 50px;
    }
    .android-download-button .button-content > svg {
        width: 40px;
        height: 50px;
    }
    .store-buttons > button > .button-content > span {
        margin: auto auto auto 10px;
    }
    section > h2, .download-app-title {
        font-size: 80px;
        line-height: 1;
    }
    .athletes-title {
        margin-top: 115px;
        padding-left: 800px;
        margin-bottom: 0;
    }
    .athletes > div {
        padding-left: 800px;
        padding-right: 50px;
    }
    .athletes > picture {
        position: absolute;
        margin-top: 0px;
        margin-left: 200px;
    }
    .athletes .connection-block {
        margin: 0;
        padding-bottom: 0px;
    }
    .athletes .connection-block > h3 {
        padding-top: 94px;
        padding-bottom: 31px;
    }
    .athletes .connection-text {
        padding-bottom: 60px;
    }
    .connection-block > h3, .collaboration-block > h3, .growth-block > h3 {
        font-size: 36px;
        letter-spacing: 0.5px;
        margin: 0;
        line-height: 1;
    }
    .athletes .first-option, .athletes .second-option, .athletes .third-option,
    .players .first-option, .players .second-option, .players .third-option{
        font-size: 18px;
        top: -12px;

    }
    .first-option::after, .second-option::after, .third-option::after {
        bottom: -5px;
    }
    .athletes > div > p {
        margin: 0;
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .athletes > .collaboration-block {
        padding-bottom: 0;
        margin: 0;
    }
    .athletes .collaboration-block > h3 {
        padding-top: 63px;
        padding-bottom: 32px;
    }
    .athletes .collaboration-text {
        padding-bottom: 64px;
    }
    .athletes .growth-block {
        margin: 0;
        padding-left: 800px;
    }
    .athletes .growth-block > h3 {
        padding-top: 90px;
        padding-bottom: 31px;
    }
    .athletes .growth-block > .growth-text {
        padding-bottom: 102px;
    }
    .players > .players-title {
        margin-top: 116px;
        margin-bottom: 0;
    }
    .players > picture {
        position: absolute;
        margin-top: -25px;
        right: 0;
        margin-right: 0;
        top: 0;
    }
    .players > h2, .players > div {
        padding-left: 200px;
    }
    .players .connection-block {
        margin: 0;
    }
    .players .connection-block > h3 {
        padding-top: 92px;
        padding-bottom: 32px;
    }
    .players .collaboration-block > h3 {
        margin: 0;
        padding-top: 62px;
        padding-bottom: 41px;
    }
    .players .connection-text, .players .collaboration-text {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.5px;
        width: 30%;
        min-width: 480px;
    }
    .players .connection-text {
        margin: 0;
        padding-bottom: 71px;
    }
    .players .collaboration-block {
        margin: 0;
    }
    .players .collaboration-text {
        margin: 0;
        padding-bottom: 74px;
    }
    .players .growth-text {
        font-size: 20px;
        line-height: 34px;
        padding-bottom: 92px;
        margin: 0;
        letter-spacing: 0.5px;
    }
    .players p {
        margin-bottom: 0;
    }
    .players .growth-block > h3 {
        padding-top: 97px;
        padding-bottom: 33px;
    }
    .athletes .growth-block > .growth-text {
        margin: 0;
        padding-bottom: 92px;
    }
    .be-active .first-option, .find-contact .second-option, .work-it .third-option {
        font-size: 24px;
        line-height: 35px;
    }
    .rectangle {
        width: 168px;
        height: 155px;
        left: calc(50% - 84px);
        top: 20%;
        position: absolute !important;
    }
    .find-contact > picture, .work-it > picture, .be-active > picture {
        width: 50%;
        max-width: 50%;
    }
    .be-active > h2, .work-it > h2 {
        margin: 0;
        position: absolute;
        top: 25%;
        left: calc(50% + 122px);

    }
    .be-active > p, .find-contact > p, .work-it > p {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    .be-active > p, .work-it > p
    {
        position: absolute;
        top: 55%;
        left: calc(50% + 122px);
        width: 35%;
        margin: 0;
    }
    .find-contact > picture {
        margin-left: auto;
    }
    .find-contact > h2 {
        position: absolute;
        top: 30%;
        left: 5%;
        width: 40%;
        margin: 0;
    }
    .find-contact > p {
        position: absolute;
        top: 55%;
        left: 5%;
        width: 25%;
        margin: 0;
        min-width: 405px;
    }

    .work-it > p {
        width: 40%;
    }
    footer > svg:first-child {
        width: 130px;
        height: 137px;
        padding: 15px;
        top: 229px;
        position: absolute;
        margin: 0;
        left: calc(50% - 440px);
    }
    .download-app-title {
        letter-spacing: 1px;
        position: relative;
        margin-top: 251px;
        margin-left: 100px;
    }
    .slogan {
        color: #a496ca;
        position: relative;
        margin-top: 10px;
        left: -15px;
        font-size: 30px;
        line-height: 35px;
    }
    footer > .store-buttons {
        margin-top: 164px;
        margin-bottom: 0;
    }
    footer > svg:last-child {
        width: 191px;
        height: 52px;
        margin-top: 262px;
        margin-bottom: 48px;
    }
}
@media all and (min-width: 961px) and (max-width: 1175px) {
    .header-text {
        max-width: 900px;
    }
    .header-text > span:last-child {
        margin-left: 140px;
    }
}

/*Для текста и картинок в athletes*/
@media all and (min-width: 961px) and (max-width: 1059px) {
    .athletes picture {
        margin-left: 0px;
    }
    .players > h2, .players > div {
        padding-left: 10px;
    }
    .players > picture {
        right: -275px;
    }
    .athletes > div:not(.growth-block) {
        padding-left: 600px;
    }
    .athletes .growth-block {
        padding-left: 600px;
    }
    .athletes > .athletes-title {
        padding-left: 600px;
    }
    .be-active .be-active-title, .find-contact .find-contact-title {
        top: 17%;
        line-height: 1;
    }
    .be-active > p {
        top: 70%;
    }
    .find-contact .find-contact-title, .find-contact > p {
        left: 0;
    }
    .find-contact > p {
        min-width: 400px;
    }
    .work-it > .work-it-title {
        top: 30%;
    }
    .work-it > p {
        width: 35%;
        top: 60%;
    }
}

/*Для текста и картинок в athletes*/
@media all and (min-width: 1060px) and (max-width: 1235px) {
    .athletes picture {
        margin-left: 100px;
    }
    .players > h2, .players > div {
        padding-left: 100px;
    }
    .players > picture {
        right: -300px;
    }
    .athletes > div:not(.growth-block) {
        padding-left: 700px;
    }
    .athletes .growth-block {
        padding-left: 700px;
    }
    .athletes > .athletes-title {
        padding-left: 700px;
    }

}
@media all and (min-width: 1060px) and (max-width: 1528px) {
    .find-contact > p {
        width: 35%;
        min-width: 432px;
        top: 70%;
        left: 3%;
    }
    .find-contact > .find-contact-title {
        left: 3%;
    }
}
@media all and (min-width: 1529px) and (max-width: 1600px) {
    .find-contact > p {
        left: 3%;
    }
    .find-contact > .find-contact-title {
        left: 3%;
    }
}
@media all and (min-width: 1236px) and (max-width: 1450px) {
    .players > picture {
        right: -210px;
    }
}
@media all and (min-width: 1601px) {
    .players > picture {
        right: 6.5%;
    }
}


@media all and (min-width: 1176px) and (max-width: 1529px) {
    .header-text {
        max-width: 1200px;
    }
}
@media all and (min-width: 1921px) {
    header {
        background-image: url("../images/header-background_1920.png");
    }
    footer {
        background-image: url("../images/footer_background_1920.png");
    }
    header > .surface-logo-with-text {
        width: 191px;
        height: 52px;
        margin-top: 45px;
    }
    .header-text {
        font-size: 90px;
        line-height: 1;
        margin-top: 295px;
        width: 100%;
        max-width: 1600px;
        min-width: 900px;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-text > span:last-child {
        margin-top: 26px;
        margin-left: 451px;
    }
    .store-buttons {
        margin-top: 222px;
        width: 35%;
        min-width: 672px;
        flex-flow: row nowrap;
        margin-bottom: 110px;
        height: 77px;
    }
    .store-buttons > button {
        width: 50%;
        height: 100%;
        border-radius: 38.5px;
        font-size: 14px;
    }
    .store-buttons > button > .button-content {
        width: 100%;
    }
    .apple-download-button .button-content > svg {
        width: 42px;
        height: 48px;
    }
    .android-download-button {
        margin-left: 50px;
    }
    .android-download-button .button-content > svg {
        width: 40px;
        height: 50px;
    }
    .store-buttons > button > .button-content > span {
        margin: auto auto auto 10px;
    }
    section > h2, .download-app-title {
        font-size: 80px;
        line-height: 1;
    }
    .athletes-title {
        margin-top: 115px;
        padding-left: 800px;
        margin-bottom: 0;
    }
    .athletes > div {
        padding-left: 800px;
        padding-right: 50px;
    }
    .athletes > picture {
        position: absolute;
        margin-top: 0px;
        margin-left: 200px;
    }
    .athletes .connection-block {
        margin: 0;
        padding-bottom: 0px;
    }
    .athletes .connection-block > h3 {
        padding-top: 94px;
        padding-bottom: 31px;
    }
    .athletes .connection-text {
        padding-bottom: 60px;
    }
    .connection-block > h3, .collaboration-block > h3, .growth-block > h3 {
        font-size: 36px;
        letter-spacing: 0.5px;
        margin: 0;
        line-height: 1;
    }
    .athletes .first-option, .athletes .second-option, .athletes .third-option,
    .players .first-option, .players .second-option, .players .third-option{
        font-size: 18px;
        top: -12px;

    }
    .first-option::after, .second-option::after, .third-option::after {
        bottom: -5px;
    }
    .athletes > div > p {
        margin: 0;
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .athletes > .collaboration-block {
        padding-bottom: 0;
        margin: 0;
    }
    .athletes .collaboration-block > h3 {
        padding-top: 63px;
        padding-bottom: 32px;
    }
    .athletes .collaboration-text {
        padding-bottom: 64px;
    }
    .athletes .growth-block {
        margin: 0;
        padding-left: 800px;
    }
    .athletes .growth-block > h3 {
        padding-top: 90px;
        padding-bottom: 31px;
    }
    .athletes .growth-block > .growth-text {
        padding-bottom: 102px;
    }
    .players > .players-title {
        margin-top: 116px;
        margin-bottom: 0;
    }
    .players > picture {
        position: absolute;
        margin-top: -25px;
        right: unset;
        margin-right: 0;
        top: 0;
        margin-left: 800px;
        min-width: 960px;
        max-width: 960px;
    }
    .players > h2, .players > div {
        padding-left: 200px;
    }
    .players .connection-block {
        margin: 0;
    }
    .players .connection-block > h3 {
        padding-top: 92px;
        padding-bottom: 32px;
    }
    .players .collaboration-block > h3 {
        margin: 0;
        padding-top: 62px;
        padding-bottom: 41px;
    }
    .players .connection-text, .players .collaboration-text {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.5px;
        width: 50%;
    }
    .players .connection-text {
        margin: 0;
        padding-bottom: 71px;
    }
    .players .collaboration-block {
        margin: 0;
    }
    .players .collaboration-text {
        margin: 0;
        padding-bottom: 74px;
    }
    .players .growth-text {
        font-size: 20px;
        line-height: 34px;
        padding-bottom: 92px;
        margin: 0;
        letter-spacing: 0.5px;
    }
    .players p {
        margin-bottom: 0;
    }
    .players .growth-block > h3 {
        padding-top: 97px;
        padding-bottom: 33px;
    }
    .athletes .growth-block > .growth-text {
        margin: 0;
        padding-bottom: 92px;
    }
    .be-active .first-option, .find-contact .second-option, .work-it .third-option {
        font-size: 24px;
        line-height: 35px;
    }
    .rectangle {
        width: 168px;
        height: 155px;
        left: calc(50% - 84px);
        top: 20%;
        position: absolute !important;
    }
    .find-contact > picture, .work-it > picture, .be-active > picture {
        width: 50%;
        max-width: 50%;
    }
    .be-active > h2, .work-it > h2 {
        margin: 0;
        position: absolute;
        top: 25%;
        left: calc(50% + 122px);

    }
    .be-active > p, .find-contact > p, .work-it > p {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    .be-active > p, .work-it > p
    {
        position: absolute;
        top: 55%;
        left: calc(50% + 122px);
        width: 35%;
        margin: 0;
    }
    .find-contact > picture {
        margin-left: auto;
    }
    .find-contact > h2 {
        position: absolute;
        top: 30%;
        left: 5%;
        width: 40%;
        margin: 0;
    }
    .find-contact > p {
        position: absolute;
        top: 55%;
        left: 5%;
        width: 25%;
        margin: 0;
        min-width: 405px;
    }

    .work-it > p {
        width: 40%;
    }
    footer > svg:first-child {
        width: 130px;
        height: 137px;
        padding: 15px;
        top: 229px;
        position: absolute;
        margin: 0;
        left: calc(50% - 440px);
    }
    .download-app-title {
        letter-spacing: 1px;
        position: relative;
        margin-top: 251px;
        margin-left: 100px;
    }
    .slogan {
        color: #a496ca;
        position: relative;
        margin-top: 10px;
        left: -15px;
        font-size: 30px;
        line-height: 35px;
    }
    footer > .store-buttons {
        margin-top: 164px;
        margin-bottom: 0;
    }
    footer > svg:last-child {
        width: 191px;
        height: 52px;
        margin-top: 262px;
        margin-bottom: 48px;
    }
}