@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "OpenSansRegular";
}
/*для проверки соответствия по макету*/
img[alt=mockup] {
    opacity: 0.5;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.uppercase-text {
    text-transform: uppercase;
}
header, section, footer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
header, footer {
    align-items: center;
}
header {
    color: white;
    background-size: cover;
}
.header-text {
    font-family: "OpenSansBold";
    position: relative;
    display: flex;
    flex-direction: column;
}


header svg g, footer svg g {
    stroke: white;
}
header svg .surface-text {
    stroke: none;
}
.surface-logo-without-text path:first-child {
    border: 1px solid #4524a5;
}
.surface-logo-with-text {
    margin-left: auto;
    margin-right: auto;
    /*width: 41.25%;*/
}
.store-buttons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.store-buttons > button {
    color: white;
    background-color: #5e42b0;
    border: none;
    display: flex;
}
.android-download-button {
    margin-top: 14px;
}
.apple-download-button > .button-content, .android-download-button > .button-content {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
    width: 50%;
    margin: auto;
}
.store-buttons > button > .button-content > svg {
    width: 24px;
    height: 22px;
    margin-left: auto;
}
.android-download-button > .button-content > svg,
.android-download-button > .button-content > span {
    position: relative;
    left: -10px;
}
.store-buttons > button > .button-content > span {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: auto;
}
.apple-download-button > .button-content > span > span:first-child {
    letter-spacing: 0.5px;
    font-family: "OpenSansRegular";
}
.apple-download-button > .button-content > span > span:last-child {
    letter-spacing: 0.4px;
    font-family: "OpenSansBold";
}
.android-download-button > .button-content > span > span:first-child {
    letter-spacing: 0;
    font-family: "OpenSansRegular";
}
.android-download-button > .button-content > span > span:last-child {
    letter-spacing: 0.7px;
    font-family: "OpenSansBold";
}
.apple-download-button .apple-logo, .android-download-button .android-logo {
    fill: white;
}

.download-app-title {
    color: white;
    margin-bottom: 0;
    font-family: "OpenSansBold";
}
.slogan {
    color: #9b8ec1;
    margin: 0;
    font-family: "OpenSansRegular";
}
.surface-logo-without-text {
    background: linear-gradient(to top, #50379a,#7756d5);
    border-radius: 25%;
    box-sizing: border-box;
}
section > h2 {
        color: #e7e7e7;
        font-family: "OpenSansBold";
}
.connection-block > h3, .collaboration-block > h3, .growth-block > h3 {
    color: #c1c1c1;
    font-family: "OpenSansBold";
}
.be-active > .rectangle > span::after, .find-contact > .rectangle > span::after,
   .work-it > .rectangle > span::after{
       background-color: #8f7bc8;
   }
.be-active > .rectangle >  span,
   .find-contact > .rectangle >  span,
   .work-it > .rectangle >  span{
       margin: auto;
       color: white;
       font-family: "OpenSansBold";
   }
.connection-block {
    background-color: #fafafa;
}
.collaboration-block {
    background-color: #f5f4f9;
}
.athletes .growth-block {
    background-color: #5e42b0;
    color: white;
}
.athletes .growth-block .third-option::after {
    background-color: white;
}
.players .growth-block {
    background-color: #090c35;
    color: white;

}
.players .growth-block .third-option {
    color: #8765dd;
}
.players .growth-block .third-option::after {
    background-color: white;
}
.be-active > .rectangle, .find-contact > .rectangle, .work-it > .rectangle {
    background: #5e42b0;
    display: flex;
    position: relative;
}
.first-option, .second-option, .third-option {
    color: black;
    position: relative;
    top: -8px;
}
.first-option::after, .second-option::after, .third-option::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #5e42b0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -3px;
    left: 0;
}

@media (max-width: 640px) {
    body {
        min-width: 320px;
        /*max-width: 640px;*/
    }
    header {
        background-image: url("../images/header-background_320.png");
        -webkit-background-size: cover;
        background-size: cover;
    }
    .header-text > span:last-child {
        margin-left: 44px;
        margin-top: 31px;
    }
    .store-buttons {
        width: calc(100% - 40px);
        margin-bottom: 84px;
    }
    .header-text {
        font-size: 28px;
        margin-top: 173px;
    }
    .surface-logo-with-text {
        width: 41.25%;
        margin-top: 33px;
    }
    .apple-download-button, .android-download-button {
        font-size: 8px;
    }
    img {
        width: 100%;
    }
    footer {
        background-image: url("../images/download_app_320.png");
        -webkit-background-size: cover;
        background-size: cover;
    }
    .surface-logo-without-text {
        width: 72px;
        height: 74px;
        padding: 12px 6px;
        margin-top: 99px;
    }
    .download-app-title {
        font-size: 32px;
        margin-top: 59px;
    }
    .slogan {
        font-size: 14px;
    }
    .store-buttons {
        margin-top: 88px;
        flex-direction: column;
    }
    .store-buttons > button {
        height: 35px;
        border-radius: 18px;
    }
    footer .store-buttons {
        margin-top: 76px;
    }
    footer .surface-logo-with-text {
        margin-bottom: 6px;
        margin-top: 86px;
        top: 0;
    }

    .athletes-title, .players-title {
        font-size: 50px;
        margin-left: 20px;
    }
    .athletes > picture {
        width: 56%;
        max-width: 200px;
        margin: auto;
    }
    .be-active-title, .work-it-title, .find-contact-title {
        font-size: 28px;
        margin-left: 20px;
    }
    section > h2 {
        margin-bottom: 0;
        line-height: 60px;
    }
    .connection-block > h3, .collaboration-block > h3, .growth-block > h3 {
        font-size: 28px;
        margin-left: 20px;
        line-height: 35px;
        letter-spacing: 1px;
    }
    .first-option, .second-option, .third-option {
       font-size: 14px;

    }
   .first-option::after, .second-option::after, .third-option::after {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -3px;
        left: 0;
    }
   .be-active > .rectangle, .find-contact > .rectangle, .work-it > .rectangle {
       width: 70px;
       height: 70px;
       margin-left: 20px;
       margin-top: -58px;
   }
   .players picture {
       max-width: 100%;
       margin: auto;
   }


   section p {
       padding: 0 10px 44px 20px;
   }

   .athletes p, .players p {
       font-size: 15px;
       line-height: 18px;
       letter-spacing: 1px;
   }
}
@media (min-width: 641px) and (max-width: 960px) {
    header {
        background-image: url("../images/header-background_768.png");
    }
    .surface-logo-with-text {
        width: 26.7%;
        height: 56px;
        margin-top: 40px;
    }
    .header-text {
        font-size: 64px;
        line-height: 1;
        margin-top: 181px;
    }
    .header-text > span:first-child {
        margin-left: 85px;
    }
    .header-text > span:last-child {
        margin-left: 185px;
        margin-top: 31px;
    }
    .store-buttons {
        width: 85%;
        flex-flow: row nowrap;
        margin-top: 312px;
        margin-bottom: 91px;
        height: 73px;
    }
     .store-buttons > button  {
         width: 50%;
         height: 100%;
         border-radius: 32.5px;
     }
     .store-buttons > .android-download-button {
        margin-left: 31px;
        margin-top: 0;
     }
     .store-buttons > button > .button-content {
         width: 90%;
     }
    .store-buttons > button > .button-content > svg {
        width: 36px;
        height: 41px;
    }
    /*second page*/
    section > h2 {
        font-size: 80px;
        line-height: 60px;
    }
    .athletes-title {
        margin-top: 86px;
        margin-left: 292px;
        margin-bottom: 0;
    }
    .athletes > div {
        margin-left: 292px;
        padding-right: 30px;
    }
    .athletes > picture {
        position: absolute;
        margin-top: 94px;
        left: -162px;
        flex-shrink: 1;
        flex-grow: 0;
    }
    .athletes .connection-block {
        margin-top: 62px;
        padding-bottom: 42px;
    }
    .connection-block > h3, .collaboration-block > h3, .growth-block > h3 {
        font-size: 32px;
        letter-spacing: 0.5px;
        margin: 20px 0;
        line-height: 1;
    }
    .first-option, .second-option, .third-option {
        font-size: 18px;
    }
    .athletes > div > p {
        margin: 0;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    .athletes > .collaboration-block {
        padding-bottom: 32px;
    }
    .athletes .growth-block {
        margin: 0;
        padding-left: 292px;
        padding-bottom: 32px;
    }
    .players > .players-title {
        margin-top: 82px;
        margin-bottom: 0;
    }
    .players > picture {
        position: absolute;
        margin-top: 37px;
        right: -255px;
        flex-shrink: 1;
        flex-grow: 0;
    }
    .players > h2, .players > div {
        padding-left: 32px;
        padding-right: 45%;
    }
    .players .connection-block {
        margin-top: 62px;
    }
    .players .connection-block > h3, .players .collaboration-block > h3 {
        margin: 0;
    }
    .players .connection-text, .players .collaboration-text {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    .players .connection-text {
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .players .collaboration-block {
        margin-top: 77px;
    }
    .players .collaboration-text {
        padding-bottom: 71px;
    }
    .players .growth-text {
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 52px;
        margin-top: 24px;
        letter-spacing: 0.5px;
    }
    .players p {
        margin-bottom: 0;
    }
    .growth-block > h3 {
        margin-top: 32px;
        margin-bottom: 0;
    }
}
@media (min-width: 961px) and (max-width: 1900px) {
    header {
        background-image: url("../images/header-background_1920.png");
    }
}